#text{
    width: 500px;
    height: fit-content;
    position: absolute;
    right: 200px;
}
/*apply css table */


.table{
    width: 1000px;
    position: absolute;
    left: 20%;
    top: 65%;
}

#table_head>tr>th{
    background-color: #ff0000;
    font-size: 28px;
    font-family: 'Inria Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    padding: 0;
}
#table_head>tr>th:first-child{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

#table_head>tr>th:last-child{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.table>tbody{
    font-size: 22px;
    font-family: 'Inria Sans', sans-serif;
    font-weight: 400;
}
